<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daftar Kafe | Cafe Reservation</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Daftar Kafe</h1>
    <a class="btn" href="/cafes/create">Tambah Baru</a>
    <hr>
    <ul>
      <% cafes.forEach(function (cafe) { %>
        <li>
          <%= cafe.name %>
          <a href="/cafes/<%= cafe.id %>">Lihat</a>
          <a href="/cafes/<%= cafe.id %>/edit">Ubah</a>
          <button class="btn-delete" data-id="<%= cafe.id %>%>">Hapus</button>
        </li>
      <% }) %>
    </ul>
  </div>
  <script>
    function deleteCafe(id) {
      return fetch('/cafes/' + id, {
        method: 'delete'
      });
    }

    var deleteButtons = document.querySelectorAll('.btn-delete');

    deleteButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        var confirmed = confirm('Apakah Anda yakin ingin menghapus data ini?');

        if (!confirmed) {
          return;
        }

        var cafeId = button.getAttribute('data-id');

        deleteCafe(cafeId)
          .then(function () {
            window.location.reload();
          })
          .catch(function () {
            alert('Gagal menghapus data');
          });
      });
    });
  </script>
</body>
</html>