<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tambah Kafe | Cafe Reservation</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Tambah Kafe</h1>
  <a class="btn" href="/">Kembali</a>
  <hr>
  <form action="/cafes/create" method="post">
    <div>
      <label for="name">Nama</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="address">Alamat</label>
      <textarea name="address" id="address"></textarea>
    </div>
    <button type="submit">Tambah</button>
  </form>
</body>
</html>